.github/
.vscode/
**/*__pycache__/
**/*.app/
**/*.archive/
**/*.DS_Store
**/*.egg-info/
**/*.git/
**/*.pyc
dist/
Icon
Icon?
tests/test_data
imessage_extractor/custom_tables/*.csv
imessage_extractor/custom_tables/custom_table_schemas.json