.github/
.vscode/
**/*__pycache__/
**/*.app/
**/*.archive/
**/*.DS_Store
**/*.egg-info/
**/*.git/
**/*.pyc
dist/
Icon
Icon?
tests/test_data
imessage_extractor/src/custom_tables/data/*.csv
graphics/*.afphoto