include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.in
include versioneer.py
include imessage_extractor/_version.py

recursive-exclude * __pycache__

recursive-include tests *
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include imessage_extractor/src *